POSTGRES_PASSWORD=
LDAP_ADMIN_PASSWORD=
PROMETHEUS_PASSWORD=
GRAFANA_ADMIN_PASSWORD=
POSTGRES_HOST=postgresql.default.svc.cluster.local
POSTGRES_DB=appdb
POSTGRES_USER=appuser
LDAP_HOST=openldap.default.svc.cluster.local